# Local modules
data/armes.json
data/artefacts.json
data/ennemis.json
data/personnages.json
data/profils.json

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environnements
.env

# Mac
.DS_Store

# VSCode
.vscode/

# Output temporaire
dist/
build/

# OS divers
Thumbs.db
